/* Menu Section css---------------------------------------------------------------------------------------------------- */ 
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color: #395ca3;
	color: #FFFFFF;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
	background-color: #ffffff;
	color: #395ca3;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	background-color: #ffffff;
	color: #395ca3;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff !important;
	background-color: #395ca3 !important;
}
/*Dropdown Menus & Submenus Css----------------------------------------------------------*/
.dropdown-menu {
	background-color: #395ca3;
}
.dropdown-menu > li > a {
border-bottom: 1px solid #395ca3;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
background-color: #395ca3;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus
{
background-color:#395ca3 !important ; 
}